body {
	font-family: 'Stalemate', cursive;
	font-weight: 500;
	margin-left:30px;
	margin-top:30px;
	margin-right:30px;
}

h1 {
	font-size: 80px;
	margin-top: 8px;
	margin-bottom:0;
}
h2 {
	color:darkgrey;
	font-size:50px;
	margin-top:20px;
	margin-bottom:10px;
}
p {
	font-family: Helvetica;
	font-weight:lighter;
	margin-bottom:0;
	margin-top:0;
}
a {
	font-size:18px;
	margin-top:5px;
	margin-bottom:0;
	color:#666666;
}

.upper {
	text-transform: uppercase;
}
.unstyled-link {
	text-decoration: none;
	color:black;
}