/* IMPORT FONTS */

/* ELEMENT FORMATTING */
body{
	font-family: 'Alegreya Sans SC', sans-serif;
	background: black;
	background-size: cover;
	margin:0;
	color:#D2FFFF;
}
p {
	font-weight:100;
	margin-bottom:0;
	margin-top:0;
	font-size: 20px;
}
div {
	text-align: center;
}
img {
	margin-bottom: 10px;
}
h1 {
	font-size: 80px;
	margin-top: 8px;
	margin-bottom:0;
	font-family: 'Stalemate', cursive;
	font-weight: 500;
}

/* LAYOUT */
.buttons {
	width: 100%;
	margin-bottom:10px;
}
.column {
	float:left;
	margin:0;
	margin-top:30px;
}
#col1 {
	width:370px;
	margin-right:30px;
}
#col2 {
	width:400px;
}
#container {
	width:800px;
	margin:auto;
}

/* DETAILED FORMATTING */


/* BUTTON */

.calButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');*/
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #D2FFFF;
	display:inline-block;
	color:#D2FFFF;
	font-size:15px;
	font-weight:lighter;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:50%;
	text-decoration:none;
	text-align:center;
}
/*.calButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;*/
}.calButton:active {
	position:relative;
	top:2px;

}