---
layout: rsvp
title: Réspondez s'il vous plaît
---
{% include family-note.html %}
<form action="https://docs.google.com/forms/d/13R9ed68vmrJZ_WOmJraYVkYCikl48NGvdYSaJ4YMiH0/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_18568457"><div class="ss-q-title">Name
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.18568457" value="" class="ss-q-short" id="entry_18568457" dir="auto" aria-label="Name  " title="">
<div class="error-message"></div>

</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_122662567"><div class="ss-q-title">Is your spouse or partner coming or are you bringing a plus one?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="Is your spouse or partner coming or are you bringing a plus one?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1784929149" value="Yes" id="group_1784929149_1" role="radio" class="ss-q-radio" aria-label="Yes"></span>
<span class="ss-choice-label">Yes</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1784929149" value="No" id="group_1784929149_2" role="radio" class="ss-q-radio" aria-label="No"></span>
<span class="ss-choice-label">No</span>
</label></li></ul>
<div class="error-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_485443174"><div class="ss-q-title">How many kids are coming with you?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.485443174" id="entry_485443174" aria-label="How many kids are coming with you?  "><option value=""></option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option></select>
</div></div></div>

{% include sandwiches.html %}

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1779981411"><div class="ss-q-title">Which sandwich would you like?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="Which sandwich would you like?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1745407975" value="Sherman&#39;s Sure Choice" id="group_1745407975_1" role="radio" class="ss-q-radio" aria-label="Sherman&#39;s Sure Choice"></span>
<span class="ss-choice-label">Sherman&#39;s Sure Choice</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1745407975" value="Mary&#39;s Commute" id="group_1745407975_2" role="radio" class="ss-q-radio" aria-label="Mary&#39;s Commute"></span>
<span class="ss-choice-label">Mary&#39;s Commute</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1745407975" value="Gemini Rocks the House" id="group_1745407975_3" role="radio" class="ss-q-radio" aria-label="Gemini Rocks the House"></span>
<span class="ss-choice-label">Gemini Rocks the House</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1745407975" value="I can&#39;t believe you forgot I&#39;m vegan" id="group_1745407975_4" role="radio" class="ss-q-radio" aria-label="I can&#39;t believe you forgot I&#39;m vegan"></span>
<span class="ss-choice-label">I can&#39;t believe you forgot I&#39;m vegan</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1745407975" value="Now I really regret that I can&#39;t make it" id="group_1745407975_5" role="radio" class="ss-q-radio" aria-label="Now I really regret that I can&#39;t make it"></span>
<span class="ss-choice-label">Now I really regret that I can&#39;t make it</span>
</label></li></ul>
<div class="error-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1198730740"><div class="ss-q-title">Which sandwich would your spouse / partner / plus one like?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>



<ul class="ss-choices" role="radiogroup" aria-label="Which sandwich would your spouse / partner / plus one like?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2018851894" value="Sherman&#39;s Sure Choice" id="group_2018851894_1" role="radio" class="ss-q-radio" aria-label="Sherman&#39;s Sure Choice"></span>
<span class="ss-choice-label">Sherman&#39;s Sure Choice</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2018851894" value="Mary&#39;s Commute" id="group_2018851894_2" role="radio" class="ss-q-radio" aria-label="Mary&#39;s Commute"></span>
<span class="ss-choice-label">Mary&#39;s Commute</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2018851894" value="Gemini Rocks the House" id="group_2018851894_3" role="radio" class="ss-q-radio" aria-label="Gemini Rocks the House"></span>
<span class="ss-choice-label">Gemini Rocks the House</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2018851894" value="He or she can&#39;t eat any of them" id="group_2018851894_4" role="radio" class="ss-q-radio" aria-label="He or she can&#39;t eat any of them"></span>
<span class="ss-choice-label">He or she can&#39;t eat any of them</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2018851894" value="Again, pretty bummed we&#39;ll be missing out" id="group_2018851894_5" role="radio" class="ss-q-radio" aria-label="Again, pretty bummed we&#39;ll be missing out"></span>
<span class="ss-choice-label">Again, pretty bummed we&#39;ll be missing out</span>
</label></li></ul>
<div class="error-message"></div>
</div></div></div>

{% include kid-note.html %}

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1581422436"><div class="ss-q-title">Sherman&#39;s Sure Choice
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.1581422436" id="entry_1581422436" aria-label="Sherman&#39;s Sure Choice  "><option value=""></option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option></select>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1161215533"><div class="ss-q-title">Mary&#39;s Commute
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.1161215533" id="entry_1161215533" aria-label="Mary&#39;s Commute  "><option value=""></option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option></select>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_786918427"><div class="ss-q-title">Gemini Rocks the House
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.786918427" id="entry_786918427" aria-label="Gemini Rocks the House  "><option value=""></option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option></select>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1102000899"><div class="ss-q-title">PB &amp; J
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.1102000899" id="entry_1102000899" aria-label="PB &amp; J  "><option value=""></option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option></select>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1431413103"><div class="ss-q-title">Turkey and cheddar
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.1431413103" id="entry_1431413103" aria-label="Turkey and cheddar  "><option value=""></option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option></select>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1150303061"><div class="ss-q-title">Tuna salad
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.1150303061" id="entry_1150303061" aria-label="Tuna salad  "><option value=""></option>
<option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option></select>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1857378633"><div class="ss-q-title">Anything you&#39;d like to add?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1857378633" rows="8" cols="0" class="ss-q-long" id="entry_1857378633" dir="auto" aria-label="Anything you&#39;d like to add?  "></textarea>
<div class="error-message"></div>

</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;1339089521200622132&quot;]
">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fromEmail" value="false">

<input type="hidden" name="fbzx" value="1339089521200622132">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit">
</td>
</tr></tbody></table></div></ol></form>