<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="/assets/images/heart.png">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Pull in Stalemate web font -->
        <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>

        <!-- Add HTML5 Boilerplate and normalize -->
        <link rel="stylesheet" href="/css/boilerplate.css">
        <link rel="stylesheet" href="/css/normalize.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

          {{ content }}

    </body>
</html>
